section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centraliza os gráficos horizontalmente */
    align-items: center;
    padding: 20px;
}


section canvas {
    min-width: 200px;
    max-width: 400px; /* Define um tamanho máximo para os gráficos */
    height: auto; /* Mantém a proporção do gráfico */
    display: block; /* Garante que o canvas seja tratado como um bloco */
}

@media (max-width: 768px) {
    section {
        flex-direction: column; /* Muda para coluna em telas menores */
        align-items: center; /* Centraliza os gráficos verticalmente */
    }

    section canvas {
        width: 100%; /* Faz com que os gráficos ocupem toda a largura disponível */
        max-width: none; /* Remove o limite máximo de largura */
        height: 300px;
    }
}