@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

main a:hover,
main a:focus {
    color: var(--cor-primaria);
    text-decoration: none;
}

.back {
    padding-left: 0px;
    padding-right: 0px;
}

.container h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    grid-column-start: span 3;
}

.titulo-de-pagina {
    width: 100%;
    margin: -20px auto 0 auto;
}

.container h1, p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #252525;
    font-weight: normal;
}

.container a {
    text-decoration: none;
    color: #252525;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px; /* Espaço entre os cards */
    padding: 20px 20px;
    background-color: #e3d3c3;
    width: 100%;
    box-sizing: border-box;

    border-radius: 16px;
    overflow-y: auto;
}

.card {
    height: 200px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 2px solid #bd9f78;
    box-sizing: border-box;
    transition: 0.5s;
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.363);
    text-decoration: none;
}

.card h1 {
    font-size: 25px;
}

#button-vendas,
#button-dashboard,
#button-historico,
#button-estoque,
#button-usuario,
#button-comanda {
    padding: 20px;
    font-size: large;
}

#button-vendas:hover,
#button-dashboard:hover,
#button-historico:hover,
#button-estoque:hover,
#button-usuario:hover,
#button-comanda:hover {
    background-color: #f3a85369;
}

.grid {
    background-color: #fffcf9;
    margin: 10%;
    padding: 100px;
    border-radius: 10px;
}

.material-symbols-outlined {
    font-size: 25px;
    border-radius: 50%;
    padding: 10px;
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas de larguras iguais */
    }
}

@media (max-width: 690px) {
    .container {
        grid-template-columns: repeat(1, 1fr); /* 1 colunas de larguras iguais */
    }
    
    #button-vendas,
    #button-dashboard,
    #button-historico,
    #button-estoque,
    #button-usuario,
    #button-comanda {
        padding: 10px;
        font-size: medium;
    }
}