#backdrop-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    /* Inicialmente escondido */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 700px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    display: none;
    /* Inicialmente escondido */
    padding: 20px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    max-height: 90vh;
}

.popup h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
    text-align: center;
}

.popup p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 16px;
    text-align: justify;
}

.popup .popup-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popup button {
    background-color: #f3a853;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 16px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

.popup button.cancel {
    background-color: #967345;
}

.popup input,
.popup select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #967345;
    border-radius: 16px;
    font-size: 1rem;
    color: #967345;
}

.popup input::placeholder {
    color: #967345;
}

.popup form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 24px;
    width: 100%;
    align-items: start;
}

.popup form label,
.popup form input,
.popup form select,
.popup form button {
    grid-column: span 1;
}

div.botoes-popup {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;
}

div.campo-informacoes {
    display: flex;
    flex-direction: column;
}

#cancelar-produto {
    grid-column: 2;
}

#adicionar-produto {
    grid-column: 1;
}


@media (max-width: 600px) {
    .popup form {
        grid-template-columns: 1fr;
    }
    .popup form button[type="submit"],
    .popup form button[type="reset"] {
        grid-column: 1;
    }
}