@charset "UTF-8";

#popup-recu1,
#popup-recu2,
#popup-recu3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: white;
    overflow-y: auto;
}

.titulo-de-pagina a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* Cabeçalho do popup */
.titulo-de-pagina {
    display: flex;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #f3a853, #e5944d);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.titulo-de-pagina .titulo-centralizado {
    flex: 1;
    text-align: center;
}

.titulo-de-pagina h1 {
    margin: 0;
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.titulo-de-pagina a {
    color: white;
    text-decoration: none;
    z-index: 1;
}

/* Conteúdo do popup */
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 20px;
    color: #444;
}

/* Formulários */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

form input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1em;
    margin-bottom: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

form input:focus {
    border-color: #f3a853;
    box-shadow: 0px 4px 10px rgba(243, 168, 83, 0.5);
    outline: none;
}


/* Campo de código */
#campo-codigo {
    line-height: 2.5em;
    font-size: 2.5em;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 600px) {
    .popup {
        padding: 18px 6vw;
        font-size: 1em;
    }
    .popup h1 {
        font-size: 1.3rem;
    }
    button.btn {
        font-size: 1em;
        padding: 10px 18px;
    }
    form {
        grid-template-columns: 1fr;
    }
}